body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding:0px;
    background-color: #F3F5FC;
    overflow: hidden;
}

.container{
    margin: auto;
    width: 75%;
    height: 550px;
    padding: 5px;
}
.logo{
    width:100%;
    float:left;
    padding-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(224, 222, 222);
}

.left{
    float: left;
    width: 70%;
    height: 65%;
    border-radius: 24px;
}

.right{
    float:right;
    width: 30%;
    height:auto;
    border-radius: 24px;
    background-color: white;
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    padding-top: 1%;
}

.logo-img{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.title{
    float: inherit;
    margin-left: 10%;
}

.text-input{
    float: left;
    margin-left:10%;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #F3F5FC;
    
}

#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}

#textDer, #textDer1{
    margin-left: 7%;
    margin-right: 5%;
    text-align: center;
}


#texto{
    float:left;
    margin-left:10%;
    color:#0A3871;
    width: 80%;
    height: 20%;
    resize: none;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    background-color: none;
    display: none;
}

button{
    font-size: 18px;
    margin-top: 5%;
}

#btn-encriptar{
    padding: 12px;
    width:30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background-color: #0A3871;
    color:white
}

#btn-desencriptar{
    padding: 12px;
    width:30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background-color: #D8DFE8;
}

#copy{
    margin-left: 33%;
    margin-top: 90%;
    padding: 12px;
    width: 40%;
    height: 10%;
    background-color: #D8DFE8;
    border-radius: 24px;
    display: none;
}

.fa{
    color:#0A3871
}

.bi{
    color:black;
    size: 100px;
    float: right;
    padding-right: 5%;
}

footer{
    height: 15px;
    font-size:12px;
    clear: both;
    padding-left: 12%;
    text-align: left;
}